.menu {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  left: 40;
  top: 80;
  position: absolute;
}

.menu.align-left {
  right: 40;
  top: 80;
}

.menu.align-top-left {
  left: 40;
  top: 100;
}

.menu.align-top {
  left: 40;
  top: 80;
}

.menu.align-top-right {
  left: 40;
  top: 280;
}

.menu.align-right {
  left: 40;
  top: 80;
}

.menu.align-bottom-right {
  left: 40;
  top: 80;
}

.menu.align-bottom {
  left: 40;
  top: 80;
}

.menu.align-bottom-left {
  right: 40;
  bottom: 80;
}

.menu.align-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu .head-default {
  font-size: 16px;
  background-color: #27656b;
  /* background-image: linear-gradient( to right, rgb(56, 17, 70, 0.65), rgb(32, 40, 101, 0.65) 40%); */
  text-align: center;
  height: 44px;
  line-height: 44px;
  /* color: #7c97a9; */
  color: #ffffff;
  border-radius: 2px;
  margin-bottom: 5px;
}

.menu .head-default * {
  font-weight: bold;
}

.menu .menu-items {
  max-height: 290px;
  overflow-y: hidden;
}

.menu .menu-items .menu-item {
  display: block;
  font-size: 16px;
  background-color: rgba(31, 31, 31, 0.85);
  /* background-image: linear-gradient( to right, rgb(56, 17, 70, 0.65), rgb(32, 40, 101, 0.65) 100%); */
  height: 44px;
  line-height: 44px;
  text-align: center;
  padding: 0 10px;
  /* display: flex; */
  justify-content: space-between;
  border-radius: 2px;
  margin-top: 5px;
  color: white;
  display: block;
  position: relative;
}

.menu .menu-items:nth-child(1) {
  margin-top: 0;
}

.menu .menu-items .menu-item.selected {
  color: #27656b;
  background-color: rgba(20, 20, 20, 0.85);
  background-image: none;
  /* background-color: rgb(35, 11, 44, 0.65); */
}